<html>

  <head>
    <title>Pizza</title>
    <link rel="stylesheet" href="client\css\styles.css">
  </head>

  <body ng-app="app">

    <header ng-include="'client/header.html'"></header>

    <div class="content" ng-controller="mainController">
      <form method="get" name="forms" action="/client/cart.html">
      <div class="priceDiv">
        <div id="priceText">
          Your Total:
        </div>
        <div id="price">
          <input name="price" readonly="readonly" value="{{total | currency:'₹'}}"/>
        </div>

      </div>

      <div>
        <fieldset>
          <legend>Pizza Crust</legend>
          <div>
            <span class="requireValidation" ng-show="requiredBase" ng-cloak>*Required</span>
            <li ng-repeat="(key, value) in base">
              <input type="radio" name="bases" ng-init="$index==0?($parent.bases=value):''" ng-model="$parent.bases" ng-value="{{value}}"
                ng-click="updatePriceCrust(value)" />{{key}} {{value | currency:"₹"}}<br>
            </li>
          </div>
        </fieldset>
      </div>

      <div>
        <fieldset>
          <legend>Choose Toppings</legend>
          <div>
            <span class="requireValidation" ng-hide="requiredToppings" ng-cloak>*Required</span>
            <li ng-repeat="(key, value) in toppings">
              <input type="checkbox" ng-disabled="tickedToppings>=3 && !checked" ng-model="checked" ng-click="updatePrice(key, value, checked)"/>{{key}} {{value | currency:"₹"}}<br>
            </li>
          </div>
        </fieldset>
      </div>

      <div>
        <fieldset>
          <legend>Choose Veggies</legend>
          <div>
            <span class="requireValidation" ng-hide="requiredVeggies" ng-cloak>*Required</span>
            <li ng-repeat="(key, value) in veggies">
              <input type="checkbox" ng-disabled="tickedVeggies>=5 && !checked" ng-model="checked" ng-click="updatePrice(key, value, checked)" />{{key}} {{value | currency:"₹"}}<br>
            </li>
          </div>
        </fieldset>
      </div>

      <div>
        <fieldset>
          <legend>Cheese</legend>
          <div>
            <span class="requireValidation" ng-hide="requiredCheese" ng-cloak>*Required</span>
            <li ng-repeat="(key, value) in cheese">
              <input type="checkbox" ng-disabled="tickedCheese>=1 && !checked" ng-model="checked" ng-click="updatePrice(key, value, checked)" />{{key}} {{value | currency:"₹"}}<br>
            </li>
          </div>
        </fieldset>
      </div>

      <div>
        <fieldset>
          <legend>Sauces</legend>
          <div>
            <span class="requireValidation" ng-hide="requiredSauces" ng-cloak>*Required</span>
            <li ng-repeat="(key, value) in sauces">
              <input type="checkbox" ng-disabled="tickedSauces>=3 && !checked" ng-model="checked" ng-click="updatePrice(key, value, checked)" />{{key}} {{value | currency:"₹"}}<br>
            </li>
          </div>
        </fieldset>
      </div>

      <div>
        <fieldset>
          <legend>Sides and Desserts</legend>
          <div>
            <li ng-repeat="(key, value) in sides">
              <input type="checkbox" ng-model="checked" ng-click="updatePrice(key, value, checked)" />{{key}} {{value | currency:"₹"}}<br>
            </li>
          </div>
        </fieldset>
      </div>

      <div>
        <fieldset>
          <legend>Extras</legend>
            <li style="" ng-repeat="(key, value) in extras">
              <input type="checkbox" ng-model="checked" ng-click="updatePrice(key, value, checked)" />{{key}} {{value | currency:"₹"}}<br>
            </li>
        </fieldset>
      </div>

      <div class="finalButtons">
        <input type="submit" class="finalBtn" ng-model="submitOrder"
          ng-disabled="!(requiredToppings == true && requiredVeggies == true && requiredCheese == true && requiredSauces == true)"
            value="PLACE YOUR ORDER" />
        <input type="reset" class="finalBtn" onClick="window.location.reload()" value="START OVER" />
      </div>

      </form>
    </div>

    <script src="client\lib\angular.min.js"></script>
    <script src="client\js\app.js"></script>
  </body>
</html>
